body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;

    max-width: 700px;
    margin: 0 auto;
    background-color: #dbdada;
}

* {
    box-sizing: border-box;
}

.bayan {
    margin: 20px auto;
}

.bayan-item {
    border-top: 1px solid cadetblue;
    color: rgb(79, 79, 239);

    transition: color .2s ease-out;
}

.bayan-item:hover {
    color: black;
}

.title-item {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.bayan-title {
    display: block;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.fa-plus {
    width: auto;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.fa-xmark {
    width: auto;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.fa-xmark {
    opacity: 0;
}

.bayan-input {
    width: 0;
    height: 0;

    appearance: none;
    -webkit-appearance: none;

    position: absolute;
}

.bayan-input:hover ~ .bayan-img {
    display: block;
    transition: .2s ease-out;
}

.bayan-img {
    display: none;
}

.bayan-img, img {
    width: 500px;
    margin: 0 auto;
}

@media (max-width: 1230px) {
    
}